/* Created by: Shyla Oommen
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Unit2-03-HTML-StreetAddress
*/

body {
  background-color: #E6DBE5;
}

h1 {
  background-color: #9C84A8;
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 40px;
}

h3 {
  background-color: #9C84A8;
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
}

form {
  background-color: #A894B3;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
}

#user-info {
  background-color: #2c875c;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
}