/* Created by: Shyla Oommen
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Unit2-03-HTML-StreetAddress
*/

body {
  background-color: #daeffb;
}

h1 {
  background-color: #147eb8;
  color: #c8e8f9;
  font-weight: bold;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  padding: 30px;
}

h3 {
  background-color: #147eb8;
  color: #c8e8f9;
  font-weight: bold;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
  padding: 10px;
}

form {
  background-color: #147eb8;
  color: #c8e8f9;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
  padding: 10px;
}

#user-info {
  background-color: #147eb8;
  color: #c8e8f9;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
  padding: 10px;
}
